<h1>{{title}}</h1>
<h2>{{header}}</h2>
<div>
    <label>Ad:</label>
    <input type="text" [(ngModel)]="name"/>
    <p>{{name}}</p>
    <button [disabled]="disabled" [style.background-color]="btnBgColor">Button</button>
</div>

<ul>
    <li *ngFor="let name of names;let i = index let isEven = even;">
        <span *ngIf="isEven;" [ngStyle]="bgGreenStyle">{{i}} - {{name}}</span>
        <span *ngIf="!isEven" [ngClass]="bgRedClass">{{i}} - {{name}}</span>     
    </li>
</ul>

<div appTest color="red">
    Test Directive
</div>

<div *appCustomIf="true">
    Custom If Directive
</div>

<div *appCustomFor="names; let name; let index = index">
    {{index}} Custom For Directive {{name | uppercase}} 
</div>

<div>{{"1000" | currency}}</div>

<div>Custom Slice Pipe {{"123456789" | customPipe: 2:7}}</div>